/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  max-width: 1024px;
  margin: auto;
  background-color: var(--bg-color);
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover; 
  background-attachment: fixed;
  padding: 20px 20px 20px 0;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

@media (width <= 768px){
  .page {
    max-width: none;
  }
}

@media (width <= 375px){
  .page {
    padding: 10px;
  }
}

.header, .footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: 20px;
  inset-block-end: 20px;
}

.header__theme-menu{
  padding-left: 20px;
}

@media(width <= 375px){
  .header__theme-menu{
    padding-left: 0;
  }
}

.header__theme-menu-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
  font-family: var(--font-family), monospace;
  font-size: var(--text-font-size);
  font-weight: 400;
  line-height: 18px;
  
}

@media(width <= 768px){
  .header__theme-menu-list{
    flex-direction: column;
    align-items: flex-end;
    padding-top: 172px;
  }
}

@media(width <= 375px){
  .header__theme-menu-list{
    padding-top: 65px;
  }
}

.header__theme-menu-button{
  background-color: transparent;
  color: var(--menu-color);
  text-transform: lowercase;
  border: transparent 1px solid;
  height: 26px;
  padding: 0 13px;
  text-align: center;
}

.header__theme-menu-button:hover{
  border: var(--menu-hover-color) 1px solid;
}

.header__theme-menu-button:focus-visible{
  outline: none;
  border-bottom: currentColor 1px solid;
}

.header__theme-menu-button_active{
  border: var(--menu-color) 1px solid;
  pointer-events: none; 
}

.rec{
  visibility: var(--visability-rec);
  display: flex;
  
}

.rec-text{
  position: absolute;
  right: 0;
  color: var(--accent-color);
  text-align: center;
  font-family: var(--font-family), monospace;
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
  margin-right: 28px;
}

.rec-text::after{
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 9px 4px var(--accent-color);
  margin-left: 10px;
  display: inline-block;
}

.title{
  color: var(--second-accent-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--font-family), monospace;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; 
  margin: 273px 0 114px 0;
}

@media(width <= 768px){
  .title{
    margin: 173px 0 162px 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media(width <= 375px){
  .title{
    margin: 65px 0 55px 0;
  }
}

.container{
  display: flex;
  justify-content: flex-end;
}

.subtitle{
  background-color: var(--accent-color);
  color: var(--text-dark-color);
  font-family: var(--font-family), monospace;
  font-size: var(--text-font-size);
  font-weight: 700;
  line-height: 23.4px;
}

.subtitle-head{
  max-width: 491px;
  position: relative;
  margin-bottom: 89px;
  margin-left: 20px;
}

@media(width <= 768px){
  .subtitle-head{
    max-width: 364px;
    margin-bottom: 138px;
  }
}

@media(width <= 375px){
  .subtitle-head{
    margin-bottom: 31px;
    margin-left: 0;
  }
}

.main_set{
  padding-top: 60px;
  padding-left: 20px;
}

@media(width <= 375px){
  .main_set{
    padding-top: 40px;
    padding-left: 0;
  }
}

.section{
  padding-bottom: 80px;
}

@media(width <= 375px){
  .section{
    padding-bottom: 50px;
  }
}

.section_why, .section_advices{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

@media(width <= 375px){
  .section_why, .section_advices{
    flex-direction: column;
  }
}

.section_title{
  color: var(--menu-color);
  font-family: var(--font-family), monospace;
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  width:calc((100% - 60px)/3);
}

@media(width <= 768px){
  .section_title{
    width:calc((100% - 20px)/3);
  }
}

@media(width <= 375px){
  .section_title{
    width:100%;
  }
}

.section-text{
  display: flex;
  gap: 20px;
}

.section_why-text, .section_advices-text{
  flex-direction: column;
  max-width: calc((100% - 10px)/3*2);
}

@media(width<=768px){
  .section_why-text, .section_advices-text{
    max-width: 472px;
  }
}

@media(width<=375px){
  .section_why-text, .section_advices-text{
    width: 100%;
  }
}

.subtitle-sections{
  width: 100%;
  background-color: var(--accent-color);
}

.text{
  margin-block-start: 10px;
  color: var(--text-color);
  font-family: var(--font-family), monospace;
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.actent-text{
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.actent-text:hover{
  border-bottom: 1px solid currentColor;
}

.actent-text:focus-visible{
  outline: none;
  padding: 0 2px;
  border: currentColor 1px solid;
}

.section_causes-text{
  margin-block-start: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.paragraf{
    width: calc((100% - 40px) /3);
}

@media(width<=1024px){
  .section_causes-text{
    flex-direction: column;
  }

  .paragraf{
    width: 100%;
  }
}

.modify{
  font-weight: 400;
}

.section_gallery{
  padding-bottom: 60px;
}

@media(width<=375px){
  .section_gallery{
    padding-bottom: 40px;
  }
}

.images-cards{
  margin-block-start: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media(width <= 768px){
  .images-cards{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    grid-gap: 20px;
  }
}

@media(width <= 375px){
  .images-cards{
    margin-block-start: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.img-transform{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(width <= 375px){
  .img-transform{
    max-height: 355px;
  }
}

.img1{
  grid-row: 1;
  grid-column: 1/3;
}

.img2{
  grid-row: 1/3;
  grid-column: 3;
}

.img3{
  grid-row: 2;
  grid-column: 2;
}

.img4{
  grid-row: 2/4;
  grid-column: 1;
}

.img5{
  grid-row: 3;
  grid-column: 2/4;
}

@media(width <= 375px){
  .img1, .img2, .img3, .img4, .img5{
    max-height: 355px;
  }
}

.footer{
  padding: 20px 0 0 20px;
}

@media(width<=375px){
  .footer{
    padding: 0;
  }
}

.footer-header{
  text-align: center;
  vertical-align: middle;
  padding: 299px 0 274px;
  color: var(--second-accent-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--font-family), monospace;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media(width <= 768px){
  .footer-header{
    padding: 443px 0 417px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media(width <= 375px){
  .footer-header{
    padding: 276px 0 250px;
  }
}

.footer-mod{
  margin-bottom: 0;
  margin-left: 0;
}

.decorated-zone-2::before {
  content: '';
  position: absolute;
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 20px;
  inset-block-start: 4580px;
}

.decorated-zone-2::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: 20px;
  inset-block-end: 20px;
}
